.container {
  position: absolute;
  z-index: -1;
  right: 0;
  top: var(--navbar-height);
  width: 100%;
  height: fit-content;
  max-height: calc(100% - var(--navbar-height));
  overflow: hidden;

  @media (width < 900px) {
    display: none;
  }
}

.image {
  float: right;
}