$input-height: 35px;

.container {
  position: relative;
  display: flex;
  width: 330px;
  height: 100%;
}

.input {
  align-self: center;
  height: $input-height;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--space-xxs);
  width: 100%;
  color: #000;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
}

.result-list {
  overflow-y: auto;
  position: absolute;
  top: calc(var(--navbar-height) / 2 + #{$input-height} / 2 - 1px);
  z-index: 1;
  border-radius: 0 0 var(--space-md) var(--space-md);
  // border-color: #3B82F6;
  width: 100%;
  background-color: #ffffff;

  &:hover {
    cursor: pointer;
  }
}

.result-item {
  font-size: smaller;
  // color: #374151;
  // transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // transition-duration: 300ms;
  // transition-duration: 200ms;

  // &:hover {
  //   color: #ffffff;
  //   background-color: #3B82F6;
  // }
}